.seller-container{
	width: 80%;
	margin: 0 auto; /* Center the DIV horizontally */
	height: 100%;
}
.seller-header, .seller-footer{
	width: 100%;
	position: fixed;
	background: #232d6f;
	height: 8%;
	color: #fff;
	left:0px;
}
.seller-header{
    top: 0;
}
.seller-footer{
	bottom: 0;
}
.seller-nav {
	height:100%
}
.seller-header nav a:hover{
	background-color: #f4f4f4;
	color: black;
}    
/* Some more styles to beutify this example */
nav a{
	color: #fff;
	height: 45%;
	text-decoration: none;
	padding: 15px 30px;
	display: inline-block;
}
#news {
    position:fixed;
    width:50%;
    height: 42%;
    top: 8%;
    left:0;
    overflow: scroll;
}
#graph {
    position:fixed;
    width:50%;
    height:42%;
    top: 8%;
    left:50%;
}
#calculator {
    position:fixed;
    width:50%;
    height:42%;
    top:50%;
    left:0;
    
}
#something {
    position:fixed;
    width:50%;
    height:42%;
    top:50%;
    left:50%;
    
}
#something, #calculator {
    border-top: ridge;
}
#graph, #something {
    border-left: ridge;
}
ul {
	list-style:none;
	padding: 0 16px;
}
.seller-blocks > li {
	padding: 16px 0;
    border-bottom: ridge;
}

