<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Channels</title>
		<link rel="stylesheet" href="../css/dashboard.css"/>
		<link rel="stylesheet" href="../css/channels.css"/>
	</head>
	<body>
		<div class="seller-header">
			<div class="seller-container">
				<nav class="seller-nav">
					<a href="dashboard.html">Dashboard</a>
					<a href="channels.html">Channels</a>
					<a href="inventory.html">Inventory</a>
					<a href="#">Catalogue</a>
					<a href="#">Contact Us</a>
				</nav>
			</div>
		</div>
		<div class="channels-container">
			<h2>Please select atleast one of the below channels</h2>
		</div>
		<div class="channels-container">
			<input type="checkbox" name="amazon" value="amazon" id="amazon"/>
			<label for="amazon"></label> 
		</div>
		<div class="seller-footer">
			<div class="seller-container" style="padding-top: 20px;">Copyright &copy; 2018 Seller Management Cooperation</div>
		</div>
	</body>
</html>