<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Seller Management Application</title>
		<link rel="stylesheet" href="../css/dashboard_old.css"/>
	</head>
	<body>
		<div class="seller-header">
			<div class="seller-container">
				<nav class="seller-nav">
					<a href="dashboard.html">Dashboard</a>
					<a href="channels.html">Channels</a>
					<a href="inventory.html">Inventory</a>
					<a href="#">Catalogue</a>
					<a href="#">Contact Us</a>
				</nav>
			</div>
		</div>
		<div>
			<div id="news">
				<ul class="seller-blocks">
					<li>
						<details>
							<summary>Latest news one</summary>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor, varius quam at, luctus dui. Mauris magna metus, dapibus nec turpis vel, semper malesuada ante. Vestibulum id metus ac nisl bibendum scelerisque non non purus. Suspendisse varius nibh non aliquet sagittis. In tincidunt orci sit amet elementum vestibulum. Vivamus fermentum in arcu in aliquam. Quisque aliquam porta odio in fringilla. Vivamus nisl leo, blandit at bibendum eu, tristique eget risus. Integer aliquet quam ut elit suscipit, id interdum neque porttitor. Integer faucibus ligula
						</details>
					</li>
					<li>
						<details>
							<summary>Latest news two</summary>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor, varius quam at, luctus dui. Mauris magna metus, dapibus nec turpis vel, semper malesuada ante. Vestibulum id metus ac nisl bibendum scelerisque non non purus. Suspendisse varius nibh non aliquet sagittis. In tincidunt orci sit amet elementum vestibulum. Vivamus fermentum in arcu in aliquam. Quisque aliquam porta odio in fringilla. Vivamus nisl leo, blandit at bibendum eu, tristique eget risus. Integer aliquet quam ut elit suscipit, id interdum neque porttitor. Integer faucibus ligula
						</details>
					</li>
					<li>
						<details>
							<summary>Latest news three</summary>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor, varius quam at, luctus dui. Mauris magna metus, dapibus nec turpis vel, semper malesuada ante. Vestibulum id metus ac nisl bibendum scelerisque non non purus. Suspendisse varius nibh non aliquet sagittis. In tincidunt orci sit amet elementum vestibulum. Vivamus fermentum in arcu in aliquam. Quisque aliquam porta odio in fringilla. Vivamus nisl leo, blandit at bibendum eu, tristique eget risus. Integer aliquet quam ut elit suscipit, id interdum neque porttitor. Integer faucibus ligula
						</details>
					</li>
				<li>
					<details>
						<summary>Latest news four</summary>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor, varius quam at, luctus dui. Mauris magna metus, dapibus nec turpis vel, semper malesuada ante. Vestibulum id metus ac nisl bibendum scelerisque non non purus. Suspendisse varius nibh non aliquet sagittis. In tincidunt orci sit amet elementum vestibulum. Vivamus fermentum in arcu in aliquam. Quisque aliquam porta odio in fringilla. Vivamus nisl leo, blandit at bibendum eu, tristique eget risus. Integer aliquet quam ut elit suscipit, id interdum neque porttitor. Integer faucibus ligula
					</details>
				</li>
				</ul>
			</div>
			<div id="graph">
				<img src="../images/linegraph.jpg" width="100%" height="100%"/>
			</div>
			<div id="calculator">Profit Calculator</div>
			<div id="something">Something Else</div>
		</div>
		<div class="seller-footer">
			<div class="seller-container" style="padding-top: 20px;">Copyright &copy; 2018 Seller Management Cooperation</div>
		</div>
	</body>
</html>